playground/*
*.pth
*.log*
__pycache__/*
*.pyc

sys.*
ref.*
config/*/checkpoints
config/*/results
config/*/data_bin
config/*/active_data
config/*/*.txt
data/*
config/base.fp16.incremental_decode.uncertainty_sampling.*/*/
config/*/result/
config/*/__pycache__/
config/*/init/
